@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-white;
  }
  
  @layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
  
    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }